In [1]:
import pandas as pd

In [6]:
test = pd.read_csv("../Scraper/products_selenium/products.csv")

In [7]:
test

                                                   0
0  SPARROW Bird Watercolor Sparrow Chinese Waterc...
1                                         Watercolor
2                                                $30
3                                               Sold
4  ['Watercolor on Paper', 'One of a kind artwork...
5                                             $30.00
6  This painting was hand-painted, using professi...
7                           ['watercolor and paper']
8  ['#watercolor sparrow', '#watercolour', '#bird...
9                                                ---